@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fafad2;
}
// removing ul styles
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.markdown-styling {
  max-width: 600px;
  code {
    color: #187f10;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: #187f10;
  }
  h2 {
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h4 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 18px;
  }
  ul {
    margin-bottom: 1rem;
  }
  ol {
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }

  .docs-border {
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #f5f5f5;
    max-width: 600px;
  }

  .docs-height {
    height: 300px;
    width: 500px;
    background-color: red;
  }
}
